<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawSwipe</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>PawSwipe</h1> 
    <div class="center">
      <div class="userReg">
        <h2>Welcome to PawSwipe!</h2>
        <div class="options">
          <a href="/login" class="button">Login</a>
          <a> or </a>
          <a href="/register" class="button">Register</a>
        </div>
      </div>
        <div class="dogImage">
            <img src="image/dog.jpg" alt="Dog Image">
        </div>
    </div>
</body>
</html>

