<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawSwipe</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>PawSwipe</h1> 
    <div class="center">
        <div class="userReg">
            <h2>User Login:</h2> 
            <form action="/login" method="POST">
                <!-- userName field -->
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>

                <!-- password field -->
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <input type="submit" value="Enter">
            </form>
        </div>
        <div class="dogImage">
            <img src="image/dog.jpg" alt="Dog Image">
        </div>
    </div>
</body>
</html>
