body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100vh; 
    margin: 0; 
    background-color: rgb(240, 222, 210);
}

title {
    text-align: center; 
    padding: 20px; 
}

h1 {
    font-size: 40px;
    text-align: center; 
    border: 3px solid #ccc; 
    padding: 20px; 
    border-radius: 12px;
    background-color: rgb(255, 237, 225);
    border-color: rgb(211, 160, 129);
}

h2 {
    text-align: center; 
    border: 3px solid #ccc; 
    font-size: 20px;
    padding: 20px; 
    border-radius: 12px;
    background-color: rgb(255, 237, 225);
    border-color: rgb(211, 160, 129);
}

form {
    text-align: center; 
    border: 3px solid #ccc; 
    padding: 20px; 
    border-radius: 12px;
    background-color: rgb(255, 237, 225);
    border-color: rgb(211, 160, 129);
}

a {
    text-align: center; 
    padding: 20px; 
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    border: 3px solid #ccc; 
    border-radius: 12px;
    background-color: rgb(255, 237, 225);
    border-color: rgb(211, 160, 129);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    margin-left: 150px;
}

.userReg {
    position: relative; 
    margin-left: -50px;
}

.dogImage {
    display: block;
    margin: 0 auto; 
    width: 400px; 
    height: auto; 
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
}

.dogImage img {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(211, 160, 129);
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto; 
}
